<div class="top">
  <div class="title-cont groups-conf">
    <h1 class="title"><%= @group.name %> Products<%= link_to icon('fas', 'cog'), edit_sale_group_path, class: 'edit-group' %></h1>
  </div>
</div>


<div class="main">
  <%= render partial: 'products/products_cards' %>
</div>

<div class="add-btn">
  <%= link_to 'Add Product', new_product_path %>
</div>