/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6f8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background: linear-gradient(#3778c2, #2d619d);
  position: sticky;
  top: 0;
}

.nav-left {
  display: flex;
  width: 100%;
  align-items: center;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

.nav-left a,
.nav-right a {
  font-family: 'PNovaL', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 1.2em;
}

.nav-left a {
  padding-right: 20px;
}

.profile {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

main {
  padding: 25px;
}

h1 {
  color: #434b54;
  font-family: 'PNovaB', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
}
