// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

ul {
  list-style: none;
}

.flex {
  display: flex;
}

input[type=number]::-webkit-inner-spin-button.price,
input[type=number]::-webkit-outer-spin-button.price,
input[type=number]::-webkit-inner-spin-button.upc,
input[type=number]::-webkit-outer-spin-button.upc {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number].price,
input[type=number].upc {
  -moz-appearance: textfield;
}

.all-products {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  .add-product {
    padding: 0.4rem 0.6rem;
    color: white;
    background: linear-gradient(#5fb523, #549e1f);
    border-radius: 15px;
    cursor: pointer;

    a {
      display: inline-block;
      width: 100%;
    }
  }
}

.all-groups,
.all-users {
  @extend .all-products;

  .add-group,
  .add-user {
    @extend .add-product;
  }
}

.card {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 6px 1px rgba(128, 128, 128, 0.253);
  cursor: pointer;
  color: #434b54;
  margin-bottom: 25px;

  a {
    display: inline-block;
    width: 100%;
    padding: 20px;
  }
}

.details {
  width: 100%;
  padding-left: 20px;
  font-family: 'PNovaL';
  font-size: 1.2em;

  .title {
    font-family: 'PNovaB';
    font-size: 1.4em;
  }

  .deat {
    margin-top: 0.8rem;
    margin: 0;
  }
}

.products {
  align-items: center;

  .title {
    width: 320px;
  }
  .p-deat {
    width: 200px;
    margin-left: 30px;

    .deat {
      margin-left: 8px;
    }
  }
}



