// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

input[type=number]::-webkit-inner-spin-button.price-input,
input[type=number]::-webkit-outer-spin-button.price-input,
input[type=number]::-webkit-inner-spin-button.upc-input,
input[type=number]::-webkit-outer-spin-button.upc-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number].price-input,
input[type=number].upc-input {
  -moz-appearance: textfield;
}

