// Place all the styles related to the sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sub-title {
  font-family: 'PNovaL', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1em;
  color: #434b54;
}

.sale-details {
  padding: 20px;
  font-family: 'PNovaL', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.15em;
  line-height: 1.25em;

  .sale-left-deat {
    margin-left: 20px;
    width: 300px;
  }

  .sale-right-deat {
    line-height: 1.5em;
    flex-direction: column;
    justify-content: center;
  }
}

.text-right {
  font-family: 'PNovaB', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #434b54;
  text-align: right;
}
