// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.login {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  margin: 160px auto;
}

.login-form {
  @extend .login;
  width: 100%;
  margin-top: 20px;
  font-family: 'PNovaL', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  .username-label {
    font-size: 1.3em;
    margin-bottom: 8px;
  }

  .username {
    margin-bottom: 20px;
  }

  .login-btn {
    background: linear-gradient(#3778c2, #2d619d);
    border: 0;
    padding: 0.4rem;
    border-radius: 3px;
    color: white;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }

  .register-btn {
    text-align: center;
    color: white;
    padding: 0.4rem;
    background: linear-gradient(#5fb523, #549e1f);
    border-radius: 3px;
    cursor: pointer;

    a {
      display: inline-block;
      width: 100%;
    }
  }
}