<div class="all-products">
  <h1 class="title">Delete a Product</h1>

  <div class="add-product delete-product">
    <%= link_to 'Cancel', :back %>
  </div>
</div>

<%= render partial: 'products_cards' %>