<div class="all-products">
  <h1 class="title">All Products</h1>

  <div class="add-product">
    <%= link_to 'Add Product', new_product_path %>
  </div>
</div>

<%= render partial: 'products_cards' %>