<div class="top">
  <div class="title-cont">
    <h1 class="title"><%= icon('fas', 'dollar-sign') %> Individual Sales</h1>
  </div>
  <div class="revenue">
    Total Revenue of Individual Sales
    <%= content_tag(:p, number_to_currency(revenue(@sales)), class: "total-rev") %>
  </div>
</div>

<div class="main">
  <%= render 'sale_cards' %>
</div>